<p id="notice"><%= notice %></p>

<p>
  <strong>Content:</strong>
  <%= @post.content %>
</p>

<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>

<br />
<hr />
<br />

<h2>Comments</h2>

<p>
  <% @post.comments.each do |como| %>
  <p><i>Commento-uno-mommento that created at <%= como.created_at %>: </i>
  <br />
  <%= como.content %>
  </p>
  <br />
  <% end %>  
</p>

<br />
<hr />
<br />

<h2>Add comment</h2>
<p>
  <%= form_for([@post, @post.comments.build]) do |f| %>
    <p>  
      <%= f.text_area :content, class: "form-control", rows: "4", style: "width: 300px" %>
    </p>
    <p>
      <%= f.submit t('comments.add'), class: "btn btn-success" %>
    </p>
  <% end %>
</p>